In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

#SSN
### Nancy Daniela Hernandez Moreno

In [ ]:
import locale
print (str( locale.getlocale() ))

('en_US', 'UTF-8')

Del archvio de catalogo ocupar la columna Magnitud para agregar una nuva columna para clasificar el registro en:


*   0 a 1.9: como no sentido
*   2.0 a 3.9: como débil
*   4.0. a 4.9 Moderado
*   5.0 a 5.9: como fuerte
*   6.0 a 6.9:: como violento
*   7.0 en adelante: como severo

En base a la fecha, agregar una columna nueva para asignar una etiqueta nueva a aquellos resitros que se presenten en cualquier día del mes, y cualquier años, pero etiquetanto con el NOMBRE DEL MES QUE SE PRESENTA (NO NUMERO).

También ocupando  la fecha, agregar una columna nueva para asignar una etiqueta nueva a  aquellos resitros que se presenten en 19 de   del mes de septiembre de cualquier año, etiquetarlos en la nueva columna con el valor de 19S


Guardando todos las modificaciones en un archvio separado por comas

Tener en cuenta que se debe validar lso datos nulos y valores mal asignados en columnas numericas.

In [50]:
import pandas as pd

archivo="/content/drive/MyDrive/datasets/catalogo.csv"
df=pd.read_csv(archivo, sep=",", header=0) 


#0 a 1.9: como no sentido
#2.0 a 3.9: como débil
#4.0. a 4.9 Moderado
#5.0 a 5.9: como fuerte
#6.0 a 6.9 como violento
#7.0 en adelante: como severo

#for i in df.columns:
#  print(i,"->",pd.to_numeric(df[i], errors="coerce").notnull().all())

#df.Magnitud.unique()
df=df.replace({"Magnitud":{"no calculable":0}}) 
df["Magnitud"] = df["Magnitud"].astype('float64')

rango=[0,1.9,3.9,4.9,5.9,6.9,9.9]
etiqueta=["No sentido","Debil", "Moderado", "Fuerte", "Violento","Severo"]
df["clasificacion"]=pd.cut(df.Magnitud, bins=rango, labels=etiqueta)
df


#En base a la fecha, agregar una columna nueva para asignar una etiqueta nueva 
#a aquellos resitros que se presenten en cualquier día del mes, y cualquier años, pero etiquetanto con el NOMBRE 
#DEL MES QUE SE PRESENTA (NO NUMERO).

df["Mes"] = (pd.to_datetime(df["Fecha"], format='%Y.%m.%d', errors="coerce").dt.month_name(locale="en_US.UTF-8"))
df

#También ocupando la fecha, agregar una columna nueva para asignar una etiqueta nueva a 
#aquellos resitros que se presenten en 19 de del mes de septiembre de cualquier año, etiquetarlos en la nueva columna con el valor de 19S

df["Fecha"] = df["Fecha"].astype("datetime64")

df["Dia"]=df["Fecha"].apply(lambda r:r.day)
sep=df["Mes"].apply(lambda x:"September" in x)

dia=df["Dia"].isin([19])
df["19S"]=dia & sep
#a=df["19S"]==True
#df[a].count() #total:958 
df


#Verificacion de datos nulos y rellenado 
df["clasificacion"] = df["clasificacion"].astype("object")
#df.isnull().sum() #hay 17649 nulos en la col clasificacion
re_na={"clasificacion":"No clasificado aun"}
df=df.fillna(re_na)
df.isnull().sum()

df
#Guardando todos las modificaciones en un archvio separado por comas
#df.to_csv("df_SSN.csv")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Fecha,Hora,Magnitud,Latitud,Longitud,Profundidad,Referencia de localizacion,Fecha UTC,Hora UTC,Estatus,clasificacion,Mes,Dia,19S
0,1900-01-20,00:33:30,7.4,20.00,-105.00,33.0,"71 km al NOROESTE de AUTLAN DE NAVARRO, JAL",1900-01-20,06:33:30,revisado,Severo,January,20,False
1,1900-05-16,14:12:00,6.9,20.00,-105.00,33.0,"71 km al NOROESTE de AUTLAN DE NAVARRO, JAL",1900-05-16,20:12:00,revisado,Violento,May,16,False
2,1901-03-05,04:45:00,6.9,25.00,-110.00,33.0,"100 km al NORESTE de LA PAZ, BCS",1901-03-05,10:45:00,revisado,Violento,March,5,False
3,1901-12-08,20:17:00,7.0,26.00,-110.00,33.0,"83 km al OESTE de AHOME, SIN",1901-12-09,02:17:00,revisado,Severo,December,8,False
4,1902-01-16,17:19:00,7.0,17.62,-99.72,33.0,"21 km al OESTE de ZUMPANGO DEL RIO, GRO",1902-01-16,23:19:00,revisado,Severo,January,16,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261148,2022-09-26,04:01:08,3.4,18.52,-103.60,5.0,"52 km al SURESTE de TECOMAN, COL",2022-09-26,09:01:08,verificado,Debil,September,26,False
261149,2022-09-26,04:15:45,3.7,16.47,-95.15,2.0,"11 km al SUROESTE de CD IXTEPEC, OAX",2022-09-26,09:15:45,verificado,Debil,September,26,False
261150,2022-09-26,04:39:47,4.0,15.46,-92.31,176.0,"13 km al NOROESTE de MOTOZINTLA, CHIS",2022-09-26,09:39:47,verificado,Moderado,September,26,False
261151,2022-09-26,04:43:21,3.5,18.35,-103.21,3.0,"47 km al SUR de COALCOMAN, MICH",2022-09-26,09:43:21,verificado,Debil,September,26,False
261152,2022-09-26,04:54:25,3.6,16.04,-98.40,2.0,"50 km al SUROESTE de PINOTEPA NACIONAL, OAX",2022-09-26,09:54:25,verificado,Debil,September,26,False